.image-bg{
    /* position: fixed; 
    width: 100%; 
    height: 100%; 
    background-image: image-set('http://localhost:3000/img/bg4.svg');
    background-repeat: no-repeat;
    background-position: bottom left; */
}