// Cores de Destaque
$yellow: #fd7e14;
$red: #E8425B;
$green: #00D261;
$purple: #8158E5;
$dark-grey: #A6A5AF;
$blue: #007bff;

$accent: $yellow;
$primary: #E1E1E6;
$secondary: #121214;
$background: #202024;
$header: #121214;


body{
  background-color: $background;
  background-position: bottom left;
  background-image: image-set('http://localhost:3000/img/bg4.svg');
  background-repeat: no-repeat;
}


// Barra de Header
.navbar{
  background-color: $header;
  .navbar-brand{
    color: $accent !important;
    .phone{
      margin-right: 5px;
    }
    .navbar-text{
      color: $accent !important;
    }
  }
  .input-search, .btn-search{
    margin-left: 5px;
  }
  .btn-search, .btn-login{
    background-color: $yellow;
    color: $secondary;
    border: 0;
  }
  .btn-search:hover, .btn-login:hover{
    background-color: $blue;
    color: $primary;
  }
  .btn-login{
    margin-left: 20px;
  }
  .check{
    color: $accent;
  }
}

// Botões 


// Listagem dos Itens
.list{
  margin-top: 40px;
  .title{
    color: $accent;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  // Acho que não esta sendo usado
  .delete_contact_all_btn{
    background-color: $red;
    border-color: $red;
    font-weight: 500;
    margin-top: 10px;
  }
  .card{
    background-color: $header;
    table{
      tbody, thead > tr:nth-child(1) > td{
        border-top: 0;
      }
      tbody > tr:nth-child(1) > td{
        border-top: 0;
      }
      td{
        border-color: $background;
        vertical-align: middle;
      }
      color: $primary;
      font-weight: 500;
      margin-bottom: 5px;
      .title-list{
        font-weight: 600;
        font-size: 13px;
      }
      .list_address{
        color: $primary;
      }
      .info-list{
        font-weight: 300;
        font-size: 13px;
      }
      .btn-icon{
        color: $accent;
      }
      .btn-icon:hover{
        color:$blue;
      }
    }
  }
}


// Caixas de dialog
.modal-backdrop.show{
  opacity: 0.8;
}
.modal-dialog{
  border-color: #414141;
  border-radius: 1px;
  border-style: dashed;
  .modal-content{
    background-color: $background;
    .modal-header{
      background-color: $header;
      border-color: $header;
      color: $primary;
      .close{
        color: $accent;
      }
    }
    .modal-body{
      background-color: $background;
      .form-control{
        margin-bottom: 10px;
        background-color: $background;
        border-color: #414141;
        color: $primary;
      }
      .controller_btn{
        background-color: $accent;
        border-color: $accent;
        color: $secondary;
        font-weight: 500;
      }
    }
    .modal-footer{
      border-color: $background;
      .btn-cancelar{
        background-color: $secondary;
        color: $dark-grey;
        border: 0;
      }
      .btn-cancelar:hover{
        background-color: $red;
        color: $secondary;
      }
      .btn-salvar{
        background-color: $dark-grey;
        color: $secondary;
        border: 0;
      }
      .btn-salvar:hover{
        background-color: $blue;
        color: $primary;
      }
    }
  }
}


// autosuggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
